@using EmpiteIMS.Models.DTO
@using Microsoft.AspNetCore.Components

@using EmpiteIMS
@using EmpiteIMS.Views.Shared.Components
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Authentication
@using System.Net.Http

<h1>Create New User</h1>
<form method="post" action="UserCreation" class="mt-5">
  <div class="mb-3">
    <label for="" class="form-label">Email address</label>
    <input type="email" class="form-control" asp-for="@userCreationModel.Email">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Username</label>
    <input type="text" class="form-control" asp-for="@userCreationModel.Username">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Set Password</label>
    <input type="password" class="form-control" asp-for="@userCreationModel.Password">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">User Type</label>
    <select asp-for="@userCreationModel.Role" class="form-control">
      <option value="manager" selected>Manager</option>
      <option value="viewer">Viewer</option>
    </select>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="submit" class="btn btn-secondary btn-lg me-md-21" asp-action="GoBack">Cancel</button>
      <button type="submit" class="btn btn-primary btn-lg me-md-21">Save</button>
  </div>
</form>

@code {
    [Parameter]
    public UserCreationModel userCreationModel { get; set; }
}
