@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Empite Inventory Management System</p>
    <div class="d-grid gap-2 d-md-flex justify-content-center">
       <a href="/Login/Login" class="btn active">
           <button type="button" class="btn btn-lg btn-primary me-md-21">Login</button>
       </a>
  </div>
</div>
